@use "../setting/" as s;

h2.subtitle {
  text-align: center;
  margin-top: 2rem;
}

p {
  font-size: 1.2rem;
  text-align: center;
}

main {
  section {
    .icons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 2rem auto 0;
      box-sizing: border-box;
      width: 100%;
      gap: 5rem;
      @include s.pc {
        flex-direction: row;
      }
      .icon {
        margin-right: 1rem;
        width: calc(100% / 3 - 1rem);
        @include s.pc {
          width: 20%;
        }
        &:last-child {
          @include s.pc {
            margin-right: 0;
          }
        }
      }
    }
  }
}