@use "../setting/" as s;

header {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  position: relative;

  .icon {
    margin-left: 4rem;
    width: 16rem;
    height: 3.6rem;
  }

  .header-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 4rem;
  }
    .nav-items {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 2rem;
    }

    .header-button {
      margin-left: 2rem;
      width: 17.2rem;
      height: 4rem;
      background-color: #0F65F0;
      color: #fff;
      border: none;
      border-radius: 2.4rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
    }
}

.section {
  .top-icon {
    width: 100%;
    height: 70rem;
  }
  .logo-container {
    margin: 2.4rem 0;
    display: flex;
    flex-wrap: nowrap;
    gap: 5.6rem;
    align-items: center;
  }
    .logo {
      flex: 0 0 19.4rem;
      height: 7.7rem;
    }  
  
  .appeal-container {
    width: 100%;
    height: 5.6rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .appeal-text {
      font-size: 1.5rem;
      color: #02225D;
      font-weight: bold;
    }  
  }    
}

.section2 {
  .section2-heading {
    width: 96rem;
    height: 7.2rem;
    margin: 0 auto;
    margin-top: 6.4rem;
    text-align: center;

    p {
      font-size: 1.4rem;
      color: #0F65F0;
      font-weight: bold;
    }
    h2 {
      font-size: 3.6rem;
      color: #02225D;
      font-weight: bold;
    }
  }

  .problem-section {
    .bg-rect {
      margin: 4.8rem 24rem;
      width: 96rem;
      height: 41.4rem;
      background-color: #EBEBEB;
      padding: 2.4rem 6.4rem 4rem 6.4rem;
    }

    .problem-title {
      text-align: center;
      font-size: 2.8rem;
      font-weight: bold;
      color: #02225D;
      margin: 0;
      border-bottom: 0.1rem solid #859196;
    }

    .problem-content {
      width: 83.2rem;
      height: 26.4rem;
      margin: 3.2rem auto 0;
      display: flex;
      align-items: flex-start;
      gap: 4rem;

      .illustration {
        flex: 0 0 22.298rem;

        .logo {
          display: block;
          width: 100%;
          height: auto;
        }
      }

      .problem-boxes {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        .problem-box {
          width: 43.4rem;
          height: 5.4rem;
          background-color: #FFFFFF;
          display: flex;
          align-items: flex-start;
          padding: 1.4rem 1.6rem;
          box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
          line-height: 2.6rem;
          gap: 0.1rem;
  
          .checked {
            flex: 0 0 2.4rem;
            width: 2.4rem;
            height: 2.4rem;
          }

          p {
            font-size: 1.6rem;
            color: #02225D;
            font-weight: bold;
            
            .text-red {
              color: #C84B19;
            }
          }
        }
      }
    }
  }
}

.section3 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 64.8rem;
  position: absolute;

  .blue-box {
    position: absolute;
    background-image: url('../images/Frame-1341.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    width: 96rem;
    height: 58.4rem;

    .blue-box-top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .blue-box-text {
        width: 45.493rem;
        height: 24.599rem;
        position: absolute;
        left: 6.48rem;
        top: 7.741rem;

        h2 {
          width: 45.493rem;
          height: 5rem;
          font-size: 3.6rem;
          color: #FFFF;
          font-weight: bold;
        }

        h3 {
          width: 45.293rem;
          height: 6.4rem;
          font-size: 2rem;
          color: #fff;
          font-weight: bold;
        }

        p {
          width: 45.193rem;
          height: 8.4rem;
          font-size: 1.6rem;
          color: #fff;
        }
      }

      .blue-box-image {
        position: relative;
        transform: translateX(55.1rem) translateY(-5.198rem);
        
        .checked {
          width: 34.6rem;
          height: 36.5rem;
        }
      }
    }

    .blue-box-bottom {
      display: grid;
      grid-template-columns: repeat(2, 44rem);
      column-gap: 2.4rem;
      row-gap: 2.4rem;
      justify-content: center;
      margin-bottom: 3.2rem;

      .card {
        width: 44rem;
        height: 9.8rem;
        background-color: #fff;
        padding: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
        gap: 1.6rem;

        .checked {
          width: 5.6rem;
          height: 5.6rem;
        }

        p {
          margin: 0;
          flex: 1;
          font-size: 1.6rem;
          line-height: 2.6rem;
          color: #02225D;
          font-weight: bolder;
        }
      }
    }
  }
}