@use "../setting/" as s;

header {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  position: relative;

  .icon {
    margin-left: 4rem;
    width: 16rem;
    height: 3.6rem;
  }

  .header-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 4rem;
  }
    .nav-items {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 2rem;
    }

    .header-button {
      margin-left: 2rem;
      width: 17.2rem;
      height: 4rem;
      background-color: #0F65F0;
      color: #fff;
      border: none;
      border-radius: 2.4rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
    }
}

.section {
  .top-icon {
    width: 100%;
    height: 70rem;
  }
  .logo-container {
    margin: 2.4rem 0;
    display: flex;
    flex-wrap: nowrap;
    gap: 5.6rem;
    align-items: center;
  }
    .logo {
      flex: 0 0 19.4rem;
      height: 7.7rem;
    }  
  
  .appeal-container {
    width: 100%;
    height: 5.6rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .appeal-text {
      font-size: 1.5rem;
      color: #02225D;
      font-weight: bold;
    }  
  }    
}
